body{
    background: rgb(63,63,189);
    background: linear-gradient(180deg, rgba(63,63,189,1) 0%, rgba(167,240,255,1) 100%);
}
.container{
    width: 100%;

    header{
        padding: 20px 0 10px 0;
    }
    
    h1{
        color: #fff;        
        font-size: 2.3rem;
        font-weight: 800;
        font-family: Source Sans Pro, sans-serif;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.inputData{
    margin: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    input{ 
        border: none;

        height: 3rem;
        padding: 1rem;

        font-size: 1.2rem;        
    }

    input:focus{
        outline: none;
    }
}


.button{
    margin-left: -3rem;
    
    width: 3rem;
    height: 3rem;
    
    display: flex;
    align-self: center;
    
    border: none;
    background-color: transparent;

    display: inline;
    align-self: center;

    cursor: pointer;
}
.buttonNotDisplay{
    display: none;
}

.weatherData{
    display: flex;
    justify-content: center;
    align-items: center;
}