@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; }

body{ font-family: Raleway, sans-serif; }

:root{
    --light-gray: #888;
    --light-blue: #87cefa
}
